- attributes("title") = "Posts"
- attributes("headline") = "All Posts"

-@ val posts: List[io.yangdy.models.Post]

table
  th
    td Title
    td Content
    td
    td
    td
  - for(post <- posts)
    tr
      td= post.title
      td= post.content
      td show
      td edit
      td delete
