- attributes("title") = "/posts/new"
- attributes("headline") = "New Post"

form(action="/posts" method="post")
  label Title
  input(type="text" name="title")
  br
  label Content
  input(type="textarea" name="content")
  br
  input(type="submit" value="Create")
